@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 20px;
}
#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.main-section {
  display: flex;
  justify-content: space-around;
}
.orange {
  color: orange;
}

.action-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 200px;
}
.action-card a {
  text-decoration: none;
  color: orange;
}

.goto-list {
  font-size: 20px;
  background-color: white;
  color: orange;
  padding: 4px;
  border: 4px solid orange;
}